<div class="container">
<ul class="food-detail">
  <li *ngFor="let item of foodcategoryitems$ | async">
    <div class="image">

    	<img class="image-responsive" src="assets/images/{{item.id}}.png">
    </div>
    <div class="detail">
  	  <div>
  	  	{{ item.name }}
  	  </div>
 
  	  <div>
  	  	{{item.brand}}
  	  </div>
  	  <div>
  	  	Price:{{item.price}}Rs
  	  </div>
  	  <div>
  	  	<button  type="button" class="btn" (click)=addItem(item) *ngIf="item.quantity==0">
  	  		add
  	  	</button>
  	  </div>
  	  <div class="add" *ngIf="item.quantity!=0">
  	  <span>
  	  	<button (click)=inc(item)>
  	  		+
  	  	</button>
  	  </span>
  	  <span>
  	  <span>{{item.quantity}}</span>
  	</span>
  	  <span>
  	  	<button (click)=dec(item)>
  	  		-
  	  	</button>
  	  </span>
  	</div>
  	  
   </div>
  </li>
</ul>

</div>
